@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

section{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 100vh;
}

section header {
  right:0;
  display: flex;
  justify-content: flex-end;
}

section header svg {
  font-size: 1rem;
}

section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  font-size: 13px;
  color: #202124;
  font-family: 'Roboto', 'arial', sans-serif;
}

.rond {
  display: inline-flex;
  justify-content: center;
  align-items:center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  font-size:1.6rem;
}

.picto-app:hover:after, .picto-app:focus:after{
  content: attr(aria-label);
  bottom: -1.8em;
  right: 40px;
  white-space: nowrap;
  background: #1b1a17;
  color: #eff0f0;
  border-radius: 4px;
  padding: 5px 5px;
}

.picto-google:hover:after, .picto-google:focus:after{
  content: attr(aria-label);
  position: absolute;
  bottom: -1.8em;
  right: 10px;
  white-space: nowrap;
  background: #1b1a17;
  color: #eff0f0;
  border-radius: 4px;
  padding: 5px 5px;
}

i{
  color:#5f6368;
  font-size: 16px;
  margin:0px;
  padding-right: 2px;
  font-weight: 900;
}

.rond:hover{
    border: 5px solid #eff0f0;
    background-color: #eff0f0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3c4043;
}

.searchBox {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;;
  border: 1px solid #d6d4d4;
  padding: 10px 0 5px;
  margin: 10px 0;
}

.searchBox:hover {
  box-shadow: 0 2px 5px lightgrey;
}

.search-icon, .micro{
  margin-right: 10px;
  padding: 0 13px;
  width: 24px;
  height: 28px;
}

.fa-search{
  color: #60757a;
}

.fa-microphone{
  color: #4285f4;
}

.picto-micro:hover:after, .picto-micro:focus:after{
  content: attr(aria-label);
  font-size: 11px;
  bottom: -1.8em;
  right: 10px;
  white-space: nowrap;
  background: #1b1a17;
  color: #eff0f0;
  padding: 5px 5px;
  z-index: 1;
}

.search{
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  padding-bottom: 5px;
}


.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boutons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.boutons2 a{
  text-decoration: none;
  color: #3c4043;
}

.boutons2 div{
  margin: 10px;
  padding: 0 16px;
}

.boutons2 div:hover{
  border: 1px solid #d6d4d4;
  background-color: rgba(60,64,67,0.08) ;
  box-shadow: 0 2px 3px -1px #d6d4d4;
}

.aRemplacer:after{
  content: "J'ai de la chance";
}

.aRemplacer:hover:after{
  content: "Toi aussi :)";
}

.langue{
  font-size: small;
}

.langue a:visited{
  color: blue;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
  font-size: 14px;
  width: 100%;
}

footer a{
  color: #70757a;
  padding: 10px 10px;
}

footer p{
    padding: 15px 25px;
}

.footer-flex{
  display: flex;
  padding: 10px 15px;
}

.footer-flex img {
  display: inline;
  width: 10px;
}
hr{
  border: 0.5px solid #dadce0;
}

#box-1, #box-2, #box-3 {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.foot-1, .foot-2, .foot-3, .foot-4, .foot-5, .foot-6, .foot-7, .foot-8, .foot-9 {
  margin: 10px 0;
}

@media screen and (width>1200px){
  .footer-flex{
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  .box-1{
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  #box-2{
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
  }
}

/*
@media screen and (width<1200px){
  .footer-flex{
    justify-content: center;
  }
  .box-1{
    justify-content: center;
  }
  .box-2{

  }
  .box-3{
    justify-content:center;
  }
}

@media screen and (width<742px){
  .footer-flex{
    justify-content: flex-end;
  }
 
}
*/

/* MEDIA QUERIES

wisth>1200PX
justify content : flex-start

742<width<1200
justify content : center

w<742
box3 : justif center : flex end
