@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

section header svg {
  font-size: 1rem;
}

section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  font-size: 13px;
  color: #202124;
  font-family: 'Roboto', 'arial', sans-serif;
}

.rond {
  display: inline-flex;
  justify-content: center;
  align-items:center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

i{
  color:#5f6368;
  font-size: 16px;
  margin:0px;
  padding-right: 2px;
  font-weight: 900;
}

.rond:hover{
    border: 5px solid #eff0f0;
    background-color: #eff0f0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3c4043;
}
.searchBox {
  width: 584px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;;
  border: 1px solid #d6d4d4;
  padding: 10px 0 5px;
  margin-top: 10px;
}

.searchBox:hover {
  box-shadow: 0 2px 5px lightgrey;
}

.search-icon, .micro{
  margin-right: 10px;
  padding: 0 13px;
  width: 24px;
  height: 28px;
}

.fa-search{
  color: #60757a;
}

.search{
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  padding-bottom: 5px;
}


.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boutons input {
  margin: 10px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  border:1px solid white;
  background-color: #f8f9fa;
  font-size: 14px;
  border-radius: 4px;
  color: #3c4043;
}

.boutons input:hover{
  border: 1px solid #d6d4d4;
  background-color: rgba(60,64,67,0.08) ;
  /*#f8f9fa*/
  box-shadow: 0 2px 3px -1px #d6d4d4;
}

.langue{
  font-size: small;
}

.langue a:visited{
  color: blue;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a{
  color: #70757a;
  padding: 10px 10px;
}

footer p{
    padding: 10px 20px;
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 10px 15px;
}

.footer-flex img {
  display: inline;
  width: 15px;
  margin-right: 5px;
}
hr{
  border: 0.5px solid #dadce0;
}

.feuille{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.foot-1, .foot-2, .foot-3, .foot-4, .foot-5 {;
  margin: 10px 0;
}

@media screen and (min-width:1200px){
  .feuille {
    order: 4;
  }
}

.foot-2 {
  justify-content: center;
}

.foot-3{
  justify-content: flex-end;
  align-content: flex-end;.
}
